body{
    background-color: rgba(0, 0, 0, 0.514);
    margin: 80px;
}

.container{
    background-color: indigo;
}

#gyumolcs{
    list-style-type: square;
    color: blue;
}

#zoldseg{
    list-style-type: square;
    color: brown;
}

#edesseg{
    list-style-type: upper-roman;
    color: blueviolet;
    margin-left: 40px;
    font-size: 20px;
}

#kedd{
    list-style: square;
    color: greenyellow;
    font-size: 10px;
    margin-left: 10px;
}

#nevek{
    color: tomato;
}

#numbers{
    font-size: 20px;
    color: chartreuse;
}
#számok{
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
}

.tilte{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: crimson;
}