body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(121,9,71,1) 35%, rgba(102,0,255,1) 100%);
}

h1 {
    color: white;
    display: inline-block;
}

nav {
    display: inline-block;
}

.links {
    display: inline-block;
}

.links li {
    display: inline-block;
    text-decoration: none;
    font-size: 3rem;
}

.card img {
    height: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.5);
    transition: all .2s;
}

.card h2 {
    display: inline-block;
    font-style: italic;
    font-weight: bold;
}

.card {
    width: 40%;
    display: inline-block;
    padding: 20px;
}

#about {
    margin: 10;
}

#about h3 {
    font-size: 40px;
}

#contact p {
    font-size: 15px;
    margin: 0;
    text-decoration: black underline;
}

html {
    scrollbar-color: smooth;
}

.card img:hover {
    opacity: 0.2;
}